.option__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.option__toggles {
    margin: 0;
}

.swiper-pagination-bullet {
    width: 28px !important;
    height: 28px !important;
    border-radius: 50% !important;
    border: none !important;
    background-color: #00cabf !important;
}

.swiper-slide {
    margin: inherit;
}